*{
    margin: 0;
    padding: 0;
}
#bg-image{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    background-image: linear-gradient( rgba(136, 236, 231, 0.6),  rgba(136, 236, 231, 0.6)), url(../image/Fig.jpg);
}

#text{
    text-align: center;
    color: white;
    width: 50%;
    margin-left: 350px;
}
#text h1{
    font-family: Arial Black;
    font-size: 40px;
    padding-top: 280px;
}
#text p{
    font-family: Microsoft YaHei Light;
    font-size: 30px;
}

#center-align{
    width: 60%;
    margin-left: 250px;
}
.head{
    color: #22A39F;
    font-size: 60px;
    font-family: Calibri Light;
    text-align: center;
    font-weight: lighter;
    padding: 20px;
    margin-top: 30px;
}

.desc{
    color: black;
    font-size: 20px;
    font-family: Calibri Light;
    text-align: center;
    padding: 30px;
}
#box1{
    /* background-color:gray; */
    width: 34%;
    float: left;
    margin-right: 2%;
    margin-bottom: 100px;
    margin-top: 20px;
}
.title{
    color: #22A39F;
    font-size: 30px;
    /* margin-left: 10px; */
    font-family: Calibri Light;
}
.para{
    text-align: left;
    margin-left: 10px;
    font-size: 17px;
    font-family: Calibri Light;
}
#box2{
    width: 32%;
    float: left;
    /* background-color: indianred; */
}
h3{
    margin-left: 10px;
    font-family: Calibri Light;
}
#box2 img{
    width: 80%;
    margin-top: 30px;
    margin-left: 10px;
    border: 10px solid #F3EFE0;
    border-radius: 50%;
}
#box3{
    width: 30%;
    float: right;
    /* background-color: pink; */
    
}
#tab{
    margin-left: 10px;
    margin-bottom: 15px;
    font-family: Calibri Light;
}
th{
    text-align: left;
    
}
#education{
    font-family: calibri light;
}
tr{
    font-size: 20px;
}
#workdone tr th{
    width: 350px;
    height: auto;
}

.place{
    color: #22A39F;
    margin-bottom: 30px;
}
#button{
    background-color: #1B95E0;
    width: 60px;
    padding: 8px;
    margin-left: 10px;
    display: inline;
    border-radius: 10px;
}
#button a{
    text-decoration: none ;
    color: white;

}
#banner{
    clear: both;
    background-color: #F3EFE0;
    height: 800px;
}

#skills tr th{
    color: #22A39F ;
    width: 20%;
    
}

#skills tr td{
    width: 40%;
    font-family: Calibri light;
}
#skills{
    margin-bottom: 40px;

}
#img1{
    width: 48%;
    float: left;
}
#img1 img{
    width: 100%;
    height: 35%;
    margin-top: 8%;

}
#img2{
    width: 48%;
    float: right;
}
#img2 img{ 
    width: 100%;
    height: 35%;
    margin-top: 8%;
}
#contact{
    background-color: #434242;
    width: 100%;
    height: 650px;
}

.contact{
    color: white;
    font-family: calibri light;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}
.lines{
    color: #727878;
    text-align: center;
    font-family: calibri light;
    font-size: 20px;
    margin-bottom: 50px;
}
#contact a {
    color: white;
    text-decoration: none;
    font-family: calibri light;
    font-size: 18px;
    padding: 50px;
    margin-left: 50px;

}
#icon2 a i {
    background-color: #1877F2;
    margin-left: 250px;
    width: 100px;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;
}
